.searchChatResults{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    max-height: 200px;
    overflow-y: scroll;
}

.searchChatResult{
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px;
}

.searchChatResult:hover{
    background-color: lightgray;
}

.searchChatResultImg{
    width: 2rem;
    height: 2rem;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}